*{
  padding: 0%;
  margin: 0%;
}

.shadow-1{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spinSlow 8s linear infinite;
}